@media (max-width: 639px) {
}

@media (max-width: 479px) {
  .catalog-list {
    grid-template-columns: 1fr;
  }

  .subscribe-section{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 389px) {
}
