@media (max-width: 767px) {
  body {
    font-size: 12px;
    line-height: 16px;
  }

  h1 {
    font-size: 18px;
    line-height: 25px;
  }

  h2 {
    font-size: 16px;
    line-height: 22px;
  }

  h3 {
    font-size: 14px;
    line-height: 19px;
  }

  .header-search__text {
    display: none;
  }

  .header-top .logo {
    @include transform(translateX(0));
  }

  .grettings {
    max-height: 216px;
    padding: 62px 15px 15px;
    min-height: 216px;
    max-height: inherit;
    height: auto;
  }

  .grettings__content {
    padding: 15px;
    gap: 10px;
  }

  .section-controls {
    margin-top: 15px;
  }

  .catalog-list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
    gap: 10px;
  }

  .catalog-item__content {
    font-size: 14px;
  }

  .video-section {
    .video-block {
      margin-top: 15px;
    }
  }

  .video-block {
    .video {
      padding-top: calc(160 / 320 * 100%);

      video {
        object-position: center;
      }
    }
  }

  .btn-play {
    padding: 6px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .collections-section {
    .catalo-list {
      grid-template-columns: 1fr;
    }

    .catalog-item {
      padding-top: calc(96 / 290 * 100%);
    }
  }

  .about-block__content {
    gap: 15px;
  }

  .leave-input {
    flex-wrap: wrap;
    gap: 15px;

    input {
      font-size: 14px;
      line-height: 20px;
    }

    .btn {
      width: 100%;
      position: relative;
      right: auto;
      max-width: 100%;
      top: auto;
      min-height: 48px;
    }
  }

  .leave-email__left {
    gap: 15px;
    padding-left: 39px;
  }

  .map-section {
    height: 590px;
  }

  .contacts-map__list {
    max-width: calc(100% - 30px);
    width: 100%;
    left: 15px;
    top: 0;
    @include transform(translateY(0));
  }

  .subscribe-section {
    gap: 15px;
    font-size: 14px;
  }

  .footer {
    gap: 30px;

    .foter-links {
      gap: 15px;
    }
  }

  .footer-menu {
    max-width: 190px;
    margin: 0 auto;

    ul {
      justify-content: space-between;
      gap: 15px 0;

      li {
        width: 50%;

        &:nth-child(2n) {
          text-align: right;
        }
      }
    }
  }

  .copyRight {
    margin-top: 0;
  }

  .collections-section .catalog-list {
    grid-template-columns: 1fr;
  }

  .breadcrumbs {
    padding-top: 20px;
  }

  .breadcrumbs-list {
    display: none;
  }

  .mobile-back {
    display: flex;
  }

  .js-select-title {
    display: none;
  }

  .filter-settings {
    gap: 10px;

    li {
      padding: 6px 14px;

      &:last-child {
        margin-left: -15px;
      }
    }
  }

  .btn-filter {
    font-size: 14px;
    line-height: 20px;
  }

  .catalog-controls {
    gap: 20px 16px;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination {
    display: none;
  }

  .text-simple {
    display: flex;
    flex-direction: column;

    &:has(.picture) {
      .text-simple__content {
        width: 100%;
      }
    }

    .picture {
      width: 100%;
      order: 2;
      margin-top: 15px;
    }
  }

  .text-simple {
    ul {
      margin-top: 10px;
    }

    li + li {
      margin-top: 10px;
    }
  }

  .text-simple h2,
  .text-simple h3,
  .text-simple h4 {
    margin-bottom: 15px;
  }

  .text-simple ul li::before {
    width: 4px;
    height: 4px;
    left: 4px;
    top: 5px;
  }

  .text-simple p + p {
    margin-top: 10px;
  }

  .text-simple ul li {
    padding-left: 15px;
  }

  .swiper-controls .swiper-button-prev,
  .swiper-controls .swiper-button-next {
    width: 16px;
    height: 16px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .slider-simple .swiper-controls {
    top: -39px;
  }

  .filter-row .caption {
    font-size: 14px;
    line-height: 20px;
  }

  .check-block label {
    font-size: 12px;
    line-height: 16px;
  }

  .slider-pictures {
    overflow: hidden;
    padding-top: 64px;
  }

  .swiper-controls {
    gap: 10px;
  }

  .slider-other .caption {
    max-width: 80%;
  }

  .product-big-slider::after,
  .product-big-slider .product-item__picture .picture:not(.picture-hover) {
    padding-top: calc(190 / 290 * 100%);
  }

  .product-small-slider .picture:not(.picture-hover) {
    padding-top: calc(66 / 90 * 100%);
  }

  .product-section {
    .price-block {
      justify-content: space-between;
      width: 100%;
    }
  }

  .product-section__right {
    gap: 16px;
  }

  .product-settings .check-list {
    gap: 16px 30px;
  }

  .product-info {
    gap: 16px;
  }

  .result-search__head {
    font-size: 14px;
  }

  .result-search {
    .product-list {
      grid-template-columns: 1fr;
    }
  }

  .search-invis .result-search__head input {
    height: 30px;
  }

  .modal__container {
    padding: 40px 15px;
  }

  .modal__inner {
    padding: 15px;
  }

  .modal__close {
    width: 16px;
    height: 16px;
    right: 15px;
    top: 15px;
  }

  .modal-custom {
    padding-top: 20px;

    .input-item {
      input {
        height: 40px;
        font-size: 14px;
        line-height: 20px;
        padding: 0 20px;
      }
    }
  }

  .modals-text {
    font-size: 12px;
    line-height: 16px;
  }

  .modal-custom .text {
    text-align: left;
  }

  .price-block {
    font-size: 18px;
    line-height: 24px;

    .price-old {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
