@media (max-width: 639px) {
  .catalog-products__left {
    width: 100%;
    left: -100%;
  }
}

@media (max-width: 479px) {
  .catalog-list {
    grid-template-columns: 1fr;
  }

  .subscribe-section {
    flex-direction: column;
    align-items: center;
  }

  .product-list {
    grid-template-columns: 1fr;
  }

  .swiper-pagination-bullets {
    gap: 8px;
  }

  .catalog {
    &.collections-section {
      .catalog-list {
        grid-template-columns: 1fr;
      }
    }
  }

  .designer-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 389px) {
}
