@media (min-width: 1024px) {
  .menu {
    display: block !important;
  }

  .menu-overlay {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  h1 {
    font-size: 24px;
    line-height: 33px;
  }

  h2 {
    font-size: 18px;
    line-height: 25px;
  }

  h3 {
    font-size: 16px;
    line-height: 22px;
  }

  .header {
    font-size: 12px;
    line-height: 16px;
  }

  .header-basket__text {
    display: none;
  }

  .header-phone__text {
    display: none;
  }

  .header-adress {
    display: none;
  }

  .header-top {
    padding: 12px 15px;

    .logo {
      @include transform(translateX(-26px));
      width: 80px;
    }
  }

  .burger {
    display: flex;
  }

  .menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 320px;
    background-color: $colorWhite;
    padding: 42px 15px 15px;
    z-index: 10;

    &.opened {
    }

    ul {
      flex-direction: column;
      gap: 0;
    }

    li {
      & + li {
        border-top: solid 1px $colorSimple;
      }

      &:last-child {
        border-bottom: solid 1px $colorSimple;
      }
    }

    a {
      color: $colorSimple;
      font-size: 14px;
      line-height: 20px;
      padding: 15px 0;
      display: block;
    }

    .menu-mobile-info {
      display: flex;
      flex-direction: column;
      gap: 1px;
      margin-top: 3px;

      .header-phone {
        display: flex;
        flex-direction: row;
        gap: 10px;

        &__text {
          display: block;
        }
      }

      .header-phone-call {
        display: none;
      }

      .header-adress {
        display: flex;

        &__text {
          display: block;
          max-width: 80%;
        }
      }
    }
  }

  .grettings {
    max-height: 450px;
  }

  .btn {
    font-size: 12px;
    line-height: 16px;
  }

  .grettings__content {
    padding: 20px 15px;
  }

  .catalog-item__content {
    font-size: 16px;
  }

  .catalog-item {
    min-height: 96px;
  }

  section {
    padding: 30px 15px;
  }

  .menu-close {
    display: block;
  }

  .video-block {
    .video {
      padding-top: calc(240 / 768 * 100%);
    }
  }

  .collections-section {
    .catalog-item {
      padding-top: calc(96 / 236 * 100%);
    }

    .catalog-item__content {
      font-size: 14px;
    }
  }

  .header-phone-call {
    display: none;
  }

  .header-phone {
    padding-left: 0;

    svg {
      position: relative;
      @include transform(translateY(0));
      left: 0;
      top: 0;
    }
  }

  .about-block {
    min-height: 240px;
  }

  .about-block__content {
    padding: 15px;
  }

  .leave-email {
    gap: 20px;
  }

  .leave-email__right {
    width: 100%;
  }

  .leave-email__left {
    max-width: 100%;
  }

  .leave-input input {
    height: 48px;
  }

  .contacts-map__block span,
  .contacts-map__block a {
    font-size: 12px;
    line-height: 16px;
  }

  .contacts-map__list {
    max-width: 354px;
    left: 15px;
  }

  .map-section {
    height: 375px;
  }

  .subscribe-social {
    font-size: 16px;
    gap: 10px;
  }

  .footer {
    font-size: 12px;
    line-height: 16px;

    .logo {
      width: 80px;
    }
  }

  .inner-page {
    .main,
    main {
      padding-top: 48px;
    }
  }

  .breadcrumbs-item {
    font-size: 14px;
    line-height: 20px;
  }

  .js-select {
    font-size: 14px;
    line-height: 20px;
  }

  .filter-settings li {
    font-size: 12px;
    line-height: 16px;
  }

  .product-item__tags {
    font-size: 14px;
    max-width: 50%;
  }

  .tags-section {
    gap: 10px;

    a {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .text-simple .picture {
    width: calc(50% - 10px);
  }

  .slider-other .swiper-controls {
    top: -44px;
  }
}
