@media (max-width: 1599px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }

  section {
    padding: 30px 35px;
  }

  h1 {
    font-size: 32px;
    line-height: 44px;
  }

  h2 {
    font-size: 24px;
    line-height: 33px;
  }

  h3 {
    font-size: 18px;
    line-height: 25px;
  }

  .header {
    font-size: 14px;
    line-height: 20px;
  }

  .header-top {
    gap: 20px;
    padding: 10px 35px;
  }

  .header-phone-call {
    font-size: 12px;
    line-height: 16px;
  }

  .header-top .logo {
    width: 120px;
  }

  .catalog-item__content {
    padding: 20px;
    font-size: 16px;
  }

  .catalog-item .btn {
    padding: 10px 15px;
  }

  .collections-section {
    .catalog-item {
      min-height: inherit;
    }
  }

  .leave-email__right {
    width: calc(50% - 105px);
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog-products {
    grid-template-columns: calc(20% + 45px) 1fr;
  }

  .result-search {
    .product-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .btn {
    font-size: 14px;
    line-height: 20px;
    padding: 11px 25px;
  }

  .grettings__content {
    gap: 16px;
    padding: 20px;
  }

  .catalog-item {
    padding-top: calc(137 / 330 * 100%);
    min-height: 137px;
  }

  .catalog-list {
    margin-top: 20px;
  }

  .section-controls {
    margin-top: 20px;
  }

  .caption + .caption {
    margin-top: 10px;
  }

  .video-section .video-block {
    margin-top: 20px;
  }

  .btn-play {
    padding: 10px;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .about-block {
    margin-top: 30px;
    min-height: 450px;
  }

  .about-block__content {
    gap: 20px;
  }

  .leave-email__left {
    max-width: 30%;
  }

  .map-section {
    height: 450px;
  }

  .footer {
    font-size: 14px;
    line-height: 20px;
    gap: 20px;

    .logo {
      width: 100px;
    }
  }

  .check-block label {
    font-size: 14px;
    line-height: 20px;
  }

  .filter-row .caption {
    font-size: 16px;
    line-height: 22px;
  }

  .filter-settings li {
    font-size: 14px;
    line-height: 20px;
  }

  .product-item__name {
    font-size: 16px;
    line-height: 22px;
  }

  .product-item__info {
    font-size: 14px;
    line-height: 20px;
  }

  .product-item__tags {
    font-size: 16px;
  }

  .product-list {
    gap: 16px;
  }

  .pagination a {
    font-size: 14px;
  }

  .tags-section {
    gap: 16px;

    a {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .inner-page .about-block__content {
    max-width: 600px;
  }

  .text-simple h2,
  .text-simple h3,
  .text-simple h4 {
    margin-bottom: 20px;
  }

  .sale {
    font-size: 16px;
    line-height: 22px;
    padding: 5px 10px;
  }

  .result-search__body {
    padding-top: 20px;
  }

  .search-invis .result-search__head input {
    font-size: 16px;
    line-height: 24px;
    height: 35px;
  }

  .product-settings__title {
    font-size: 16px;
    line-height: 22px;
  }

  .error {
    font-size: 14px;
    line-height: 20px;
  }

  .result-search__head {
    font-size: 18px;
  }

  .slider-pictures__slider .picture {
    padding-top: calc(220 / 446 * 100%);
  }

  .slider-simple .swiper-controls {
    top: -59px;
  }

  .modal-custom {
    gap: 20px;
    padding-top: 30px;
  }

  .modal-custom .input-form {
    gap: 20px;
  }

  .modal-custom .text {
    margin-top: -10px;
  }

  .product-big-slider::after {
    padding-top: calc(375 / 710 * 100%);
  }

  .product-big-slider {
    .product-item__picture .picture:not(.picture-hover) {
      padding-top: calc(375 / 710 * 100%);
    }
  }
}
