$colorWhite: rgba(255, 255, 255, 1);
$colorBlack: rgba(0, 0, 0, 1);

$fontMain: "Manrope";

$colorSimple: rgba(51, 51, 51);
$colorSimple-a5: rgba(51, 51, 51, 0.5);
$colorSimple-a7: rgba(51, 51, 51, 0.7);
$colorSimple-a8: rgba(51, 51, 51, 0.8);
